﻿@using NoteLy.Web.ViewModels.Playlist
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model AddPlayListInputModel



<div class="PlaylistInputDiv">
    <h2 class="AddPlaylistTitle">Add a new Playlist</h2>

    <form class="PlaylistForm" asp-action="Create" method="post">
        <div class="PlaylistInputField">
            <label class="text-white" asp-for="Name">Playlist Name</label>
            <input asp-for="Name" class="PlaylistNameInput form-control" placeholder="Enter Playlist Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="PlaylistInputBtns">
            <a class="PlaylistBackBtn" asp-controller="Home"  asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary">Add Playlist</button>
        </div>
    </form>

</div>