@model NoteLy.Web.ViewModels.Playlist.EditPlaylistViewModel
<div class="EditPlaylistInputDiv">
    <h2 class="EditPlaylistTitle">Edit Playlist</h2>

    <form class="EditPlaylistForm" asp-action="Edit" method="post">
        <div class="EditPlaylistInputField">
            <label class="text-white" asp-for="Name">Playlist Name</label>
            <input asp-for="Name" class="EditPlaylistNameInput form-control" placeholder="Enter Playlist Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="EditPlaylistInputBtns">
            <a class="EditPlaylistBackBtn" asp-controller="Home" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary EditPlaylist">Save</button>
        </div>
    </form>
</div>
