.CommentInputDiv {
    height: 500px;
    width: 500px;
    padding: 0px 10px 0px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AddCommentTitle {
    margin: 0;
    height: 20%;
    text-align: center;
    line-height: 3.5;
    color: white;
}

.CommentForm {
    height: 80%;
}

.CommentNameInput, .CommentSongNameInput {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-indent: 5px;
}

.CommentNameInput::placeholder, .CommentSongNameInput::placeholder {
    color: #333
}

.CommentSongNameInputDivClass {
    margin-top:  10px;
}

.CommentInputBtns {
    margin-top: 220px;
    display: flex;
    justify-content: space-between;
}

.CommentBackBtn {
    background-color: white;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    color: #333;
    transition: 0.15s;
}

.CommentBackBtn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}

.createComment {
    margin-top: 0;
    background-color: white;
    color: #333;
    transition: 0.15s;
}

.createComment:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}
