.EditPlaylistInputDiv {
    height: 500px;
    width: 500px;
    padding: 0px 10px 0px 10px;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    flex-direction: column;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.EditPlaylistTitle {
    margin: 0;
    height: 30%;
    text-align: center;
    line-height: 5;
    color: white;
}

.EditPlaylistForm {
    height: 70%;
}

.EditPlaylistNameInput {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.EditPlaylistNameInput::placeholder {
    color: #333
}

.EditPlaylistInputBtns {
    margin-top: 235px;
    display: flex;
    justify-content: space-between;
}

.EditPlaylistBackBtn {
    background-color: white;
    text-decoration: none;
    padding: 6px 12px 6px 12px;
    border-radius: 3px;
    color: #333;
    transition: 0.3s;
}

.EditPlaylistBackBtn:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}

.EditPlaylist {
    margin-top: 0;
    background-color: white;
    color: #333;
}

.EditPlaylist:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #333;
}
