body {
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    max-height: 100vh;
    width: 100%;
}

.main {
    height: 100vh;
}

.mainNotLoggedIn {
    height: 200px;
    width: 400px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.NotLoggedInLogoDiv {
    height: 20%
}

.NotLoggedInLogo {
    margin: 0;
    font-size: 26px;
    color: white;
    text-align: center;
}

.NotLoggedInUser {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}