.header {
    display: flex;
    color: white;
    align-items: center;
    height: 10%;
}

.Logo {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    width: 90%;
    text-indent: 50px;
}

.User {
    width: 10%;
}
