﻿@using NoteLy.Web.ViewModels.Song
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model AddSongInputModel


<h2>Add a new Song</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Song Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter the name of the song" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Duration">Duration of the song</label>
        <input asp-for="Duration" class="form-control" placeholder="Enter the duration of the song" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ArtistNames">Artists (comma-separated)</label>
        <input asp-for="ArtistNames" class="form-control" placeholder="Enter artist names separated by commas" />
        <span asp-validation-for="ArtistNames" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="FilePath">Song URL</label>
        <input asp-for="FilePath" class="form-control" placeholder="Enter Song URL" />
        <span asp-validation-for="FilePath" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="PlayListName">Playlist Name</label>
        <input asp-for="PlayListName" class="form-control" placeholder="Enter Playlist Name" />
        <span asp-validation-for="PlayListName" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2 addSong">Add Song</button>
</form>

<a asp-controller="Home" asp-action="Index">Back</a>