﻿@using NoteLy.Web.ViewModels.Song
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model AddSongInputModel

<div class="SongInputDiv">
    <h2 class="AddSongTitle">Add a new Song</h2>

    <form class="SongForm" asp-action="Create" method="post">

        <div class="SongInputFields">
            <div>
                <label class="text-white" asp-for="Name">Song Name</label>
                <input asp-for="Name" class="CommonSongInputFieldClass form-control" placeholder="Enter the name of the song" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div>
                <label class="text-white" asp-for="Duration">Duration of the song</label>
                <input asp-for="Duration" class="CommonSongInputFieldClass form-control" placeholder="Enter the duration of the song in format: hh:mm:ss (00:00:00)" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div>
                <label class="text-white" asp-for="ArtistNames">Artists (comma-separated)</label>
                <input asp-for="ArtistNames" class="CommonSongInputFieldClass form-control" placeholder="Enter artist names separated by commas" />
                <span asp-validation-for="ArtistNames" class="text-danger"></span>
            </div>
            <div>
                <label class="text-white" asp-for="FilePath">Song URL</label>
                <input asp-for="FilePath" class="CommonSongInputFieldClass form-control" placeholder="Enter Song URL" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div>
                @* <label class="text-white" asp-for="PlayListName">Playlist Name</label>
                <input asp-for="PlayListName" class="CommonSongInputFieldClass form-control" placeholder="Enter Playlist Name" />
                <span asp-validation-for="PlayListName" class="text-danger"></span> *@
                <select id="playlistDropdown" name="SelectedPlaylistId">
                    <option value="">Select a Playlist</option>
                </select>
                @Html.ValidationMessage("SelectedPlaylistId", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="SongInputBtns">
            <a class="SongBackBtn" asp-controller="Home" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary createSong">Add Song</button>
        </div>
    </form>
</div>
