<div class="StatusInfoDiv">
	<img src="~/Resources/Triplet note 500.svg" alt="500" />
	<p class="StatusInfoText">Internal Server error.</p>
	<a class="StatusBackBtn" asp-controller="Home" asp-action="Index">Back to home</a>
</div>
