<div class="StatusInfoDiv">
	<img src="~/Resources/Triplet note 404.svg" alt="404" />
	<p class="StatusInfoText">The page you are looking for does not exist.</p>
	<a class="StatusBackBtn" asp-controller="Home" asp-action="Index">Back to home</a>
</div>
