.SongsSection {
    height: 680px;
    width: 60%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0px 15px 0px 15px;
}

.collectionNameDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;
}

.PlayListName {
    line-height: 5;
    font-size: 40px;
    color: white;
}

.textExplainDiv {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.numberSign, .title, .textExplainDiv i {
    margin-bottom: 2px;
    color: white;
}

.numberSign {
    margin-left: 8px;
}

.title {
    margin-left: 85px;
}

.textExplainDiv i {
    margin-left: 775px;
    line-height: 1.5;
}

.addSong {
    margin-left: 100px;
    width: 20%;
    text-align: center;
    transition: 0.15s;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    height: 80%;
    line-height: 1.1;
}

.addSong:hover {
    background-color: rgb(255, 255, 255, 0.8);
    color: #333;
}

.Songs {
    height: 66%;
    overflow-y: auto;
}

.noPlaylistSelectedDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noPlaylistSelectedMessage {
    margin: 0;
    color: white;
    font-size: 30px;
}

.emptyPlaylistDiv {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emptyPlaylistMessage {
    margin: 0;
    color: white;
    font-size: 30px;
}

.Song {
    display: flex;
    align-items: center;
    margin-top: 10px;
    box-sizing:content-box;
}

.Song:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.selectedSong {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.SongNumber {
    margin: 0;
    color: white;
    margin-left: 10px;
    line-height: 60px;
}

.Song img {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 20px;
}

.SongInfo {
    margin-left: 20px;
    width: 70%;
}

.Name {
    font-size: 20px;
}

.Artists {
    margin: 0;
    font-size: 15px;
    color: rgba(240, 240, 240);
}

.Duration {
    margin: 0;
    color: white;
    width: 5.5%;
    text-align: center;
    text-shadow: 0px 0px 10px #333;
}

.renderComments {
    margin-left: 45px;
}

.renderComments i {
    color: white;
    transition: 0.15s;
}

.renderComments i:hover {
    color: rgb(255, 255, 255, 0.5);
}

.SongCardActions {
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    justify-content: space-around
}

.editSong {
    color: white;
    transition: 0.15s;
}

.editSong:hover {
    color: rgb(255, 255, 255, 0.5);
}

.deleteSong {
    color: rgb(255 87 51);
    transition: 0.15s;
}

.deleteSong:hover {
    color: rgb(255, 87, 51, 0.5);
}