﻿@using NoteLy.Web.ViewModels.Comment
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model AddCommentInputModel
@{
    ViewData["Title"] = "Add Comment";
}

<div class="CommentInputDiv">
    <h2 class="AddCommentTitle">Add a Comment</h2>

    <form class="CommentForm" asp-action="Create" method="post">
        <div class="CommentInputFields">
            <div class="CommentNameInputDivClass">
                <label class="text-white" asp-for="Text">Comment</label>
                <input asp-for="Text" class="CommentNameInput form-control" placeholder="Write a comment" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="CommentSongNameInputDivClass">
                <select id="songDropdown" name="SelectedSongId">
                    <option value="">Select a Song</option>
                </select>
                @Html.ValidationMessage("SelectedSongId", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="CommentInputBtns">
            <a class="CommentBackBtn" asp-controller="Home" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary createComment">Add Comment</button>
        </div>
    </form>

