﻿@using NoteLy.Web.ViewModels.Comment
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model AddCommentInputModel

<div class="CommentInputDiv">
    <h2 class="AddCommentTitle">Add a Comment</h2>

    <form class="CommentForm" asp-action="Create" method="post">
        <div class="CommentInputFields">
            <div class="CommentNameInputDivClass">
                <label class="text-white" asp-for="Text">Comment</label>
                <input asp-for="Text" class="CommentNameInput form-control" placeholder="Write a comment" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="CommentSongNameInputDivClass">
                <label class="text-white" asp-for="SongName">Song Name</label>
                <input asp-for="SongName" class="CommentSongNameInput form-control" placeholder="Enter a song name" />
                <span asp-validation-for="SongName" class="text-danger"></span>
            </div>
        </div>
        <div class="CommentInputBtns">
            <a class="CommentBackBtn" asp-controller="Home" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary createComment">Add Comment</button>
        </div>
    </form>

