﻿@using NoteLy.Web.ViewModels.Comment
@using Microsoft.AspNetCore.Identity
@using NoteLy.Data.Models
@model EditCommentViewModel
@{
    ViewData["Title"] = "Edit Comment";
}
<div class="EditCommentInputDiv">
    <h2 class="EditCommentTitle">Edit Comment</h2>

    <form class="EditCommentForm" asp-action="Edit" method="post">
        <div class="CommentInputField">
            <label class="text-white" asp-for="Text">Comment</label>
            <input asp-for="Text" class="EditCommentNameInput form-control" placeholder="Write a comment" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <div class="EditCommentInputBtns">
            <a class="CommentBackBtn" asp-controller="Home" asp-action="Index">Back</a>
            <button type="submit" class="btn btn-primary EditComment">Save</button>
        </div>
    </form>
</div>
