@using NoteLy.Web.ViewModels.Comment
@{
    ViewData["Title"] = "NoteLy";
}
<div class="CommentSection">
    <div class="CommentSectionTitleDiv">
        <p class="CommentSectionTitle">Comments</p>
    </div>
    <div class="AddCommentDiv">
        <a class="addComment" asp-area="" asp-controller="Comment" asp-action="Create">Add Comment</a>
    </div>
    <div class="CommentsDiv">
        <div class="noSongSelectedDiv">
            <p class="noSongSelectedMessage">No Song selected</p>
        </div>
    </div>
</div>