@using NoteLy.Web.ViewModels
@model CompositeViewModel
@{
    ViewData["Title"] = "NoteLy";
}

<div class="header">
    <partial name="Header"/>
</div>
<div class="sections">
    <partial name="PlayListSection" model="@Model.PlayLists" />
    <partial name="SongsSection"/>
    <partial name="CommentSection"/>
</div>
<div class="songControls">
    <partial name="SongControls" />
</div>
