@using NoteLy.Web.ViewModels
@model CompositeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="header">
    <partial name="Header"/>
</div>
<div class="sections">
    <partial name="PlayListSection" model="@Model.PlayLists" />
    @* <partial name="SongsSection" model="@Model.Songs" /> *@
    <partial name="SongsSection"/>
    <partial name="CommentSection"/>
</div>
<div class="songControls"></div>
