@{
    ViewData["Title"] = "NoteLy - Login";
}

<div class="mainNotLoggedIn">
    <div class="NotLoggedInLogoDiv">
        <p class="NotLoggedInLogo">NoteLy</p>
    </div>
    <div class="NotLoggedInUser">
        <partial name="_LoginPartial" />
    </div>
</div>