@using NoteLy.Web.ViewModels.Song
@* @model IEnumerable<SongCardViewModel> *@
@{
    ViewData["Title"] = "NoteLy";
}

    <div class="SongsSection">
        <div class="collectionNameDiv">
        <p class="PlayListName"></p>
        </div>
        <div class="textExplainDiv">
            <p class="numberSign">&#x2116</p>
            <p class="title">Title</p>
            <i class="fa-regular fa-clock"></i>
            <a class="addSong" asp-area="" asp-controller="Song" asp-action="Create">Add Song</a>
        </div>
        <div class="Songs">
            <div class="noPlaylistSelectedDiv">
                <p class="noPlaylistSelectedMessage">No Playlist selected</p>
            </div>
        </div>
    </div>
